<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MusicVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0480B8F21C7AE6BE00FA6597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0480B9091C7AE6BE00FA6597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0480B9141C7AE6BE00FA6597</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
